<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Products</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="/">The Tea House</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/dashboard">Dashboard Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Products<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <a class="btn btn-sm btn-light text-dark" href="/account/logout"
                    role="button">Log off</a>
        </div>
    </nav>
    <div class="row ml-5 my-5">
        <div class="col-10"></div>
        <div class="col-2"><a class="btn btn-primary btn-md mr-5" href="/admin/products/add_new_product" role="button">Add new product</a></div>
        
    </div>
    <table class="table table-hover">
        <thead>
          <tr>            
            <th scope="col">ID</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Inventory Count</th>
            <th scope="col">Date Updated</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {%for product in all_products%}
          <tr>
            <th scope="row">{{product.id}}</th>
            <th scope="row">{{product.category}}</th>
            <td><a href="/admin/products/edit/{{product.id}}">{{product.name}}</a></td>
            <td>{{product.quantity}}</td>
            <td>{{product.updated_at|date:"M d Y"}}</td>
            <td><span><a href="/admin/products/edit/{{product.id}}">edit</a> | <a href="/admin/products/delete/{{product.id}}">remove</a></span></td>
          </tr>  
          {%endfor%}        
        </tbody>
      </table>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>